<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>76559289517-o3i6pi0709j3vjd2p4i05gu14hikbms3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.76559289517-o3i6pi0709j3vjd2p4i05gu14hikbms3</string>
	<key>API_KEY</key>
	<string>AIzaSyACpvPl4uxf8VpXSSfXKhMWg1UZhgrEcXw</string>
	<key>GCM_SENDER_ID</key>
	<string>76559289517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexeyParkhomenko.Chats</string>
	<key>PROJECT_ID</key>
	<string>chats-21800</string>
	<key>STORAGE_BUCKET</key>
	<string>chats-21800.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76559289517:ios:8a6d4975bedd05c3e38a24</string>
	<key>DATABASE_URL</key>
	<string>https://chats-21800.firebaseio.com</string>
</dict>
</plist>